

@font-face{
    font-family: 'Raleway-black';
    src: url(fonts/Raleway-Black.ttf) format('truetype');
}
@font-face {
    font-family: 'Raleway-bold';
    src: url(fonts/Raleway-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url(fonts/Raleway-ExtraBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Raleway-Light';
    src: url(fonts/Raleway-Light.ttf) format('truetype');
}

body{
    margin-left: 30px;
    margin-right: 30px;
}
header{
}
section{
}
footer{
}

.heading{
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.logo img{
    width: 100px;
    padding: 15px;
    margin-top: 0px;
}
.nav ul{
    display: flex;
    height: 50px;
    width: 400px;
    margin-top: 0px;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}
.transport{
    list-style: none;
}

h1{
    font-family: ;
}
h2{
    font-family: ;
}

/*section "Rechercher"*/

.search{
    display: flex;
    align-items: center;
    max-width: 450px;
}
.search .marker{/*background du marker*/
    width: 50px;
    height: 55px;
    background-color: #F2F2F2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.marker img{/*img maker*/
    width: 17px;
    margin-left: 18px;
    margin-top: 17px;
}
.search .place input{/*champs de saisie*/
    border: solid #F2F2F2 2px;
    height: 49px;
}
.search .butt input{/*bouton "Rechercher"*/
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 54px;
    width: 150px;
    background-color: #0065FC;
}

/*section des filtres*/

.filter{/*parent>txt + select*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 750px;
}
.filter .txt{/*txt*/
}
.select{/*child>.filter -- parent>logo+link*/
    display: flex;
    border: solid #F2F2F2;
    border-radius: 30px;
    align-items: center;
    height: 50px;
    padding-right: 15px;
}
.filter .select img{/*logo*/
    border: solid #DEEBFF;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 10px;
    padding: 10px;
    background-color: #DEEBFF;
}
.filter a{/*link*/
    text-decoration: none;
}

/*section Info*/

.information{/*parent>info_logo + info_txt*/
    border: solid;
    display: flex;
    align-items: center;
}
.information .info_logo{/*background logo*/
    margin: 50px;/*a reduire une fois fini*/
    background-color: #0065FC;
    height: 17px;
    width: 17px;
    border-radius: 15px;
    
}
.information .info_logo img{/*logo*/
    width: 20px;
    border: solid #F2F2F2 2px;
    border-radius: 12px;
}
.information .info_txt{/*txt*/
    border: solid;
    margin-left: 10px;
}

/*section <aside>*/
.pop{/*parent*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 350px;
    border: solid;
    border-radius: 20px;
}
.pop .pop_logo img{/*logo*/
    height: 25px;
}
.pop .pop_h2{/*titre*/
}
.pop .pic img{/*child photo*/
    height: 100px;
}
.pop .element{/*=.pop .pic img + <p>*/
    display: flex;
    width: 350px;
    border: solid;
    border-radius: 20px;
}