@font-face {
    font-family: 'Raleway-Medium';
    src: url(fonts/Raleway-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway-bold';
    src: url(fonts/Raleway-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url(fonts/Raleway-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway-Light';
    src: url(fonts/Raleway-Light.ttf) format('truetype');
}

.link h6,
.cards h6,
.header .headSignup,
.search_form p,
.filter p {
    font-family: 'Raleway-bold', sans-serif;
    font: 1.1em;
}

.headNav,
.headNavLink1,
.search_form .place input {
    font-family: 'Raleway-Medium', sans-serif;
    font-size: 1.15em;
}

.activity h3,
.housingTitle,
.pop .popTitle {
    font-size: 1.2em;
    font-family: 'Raleway-ExtraBold', sans-serif;
}

/*VERSION DESKTOP*/

/*HEAD*/

.header {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    text-align: center;
    padding-bottom: 20px;
    width: 90%;
    margin: auto;
}

.headLogo {
    width: 100px;
    margin-top: 15px;
    margin-bottom: 0;
    cursor: pointer;
}

.headNav {
    padding-top: 27px;
    margin-top: 15px;
    padding-left: 50px;
    font-size: 1.1em;
    grid-column: 3;
}

.headNavLink1 {
    border-top: solid 4px;
    padding-top: 39px;
    padding-left: 30px;
    padding-right: 30px;
}

.header .headNavLink2 {
    text-decoration: none;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    color: #000;
    border-top: solid 4px transparent;
    transition: 0.3s;
}

.header .headNavLink2:hover {
    border-top: solid 4px;
    padding-top: 40px;
    color: #0065FC;
}

.header .headSignup {
    padding-top: 43px;
    padding-left: 15px;
    padding-right: 15px;
    grid-column: 4;
}

/*SECTION N°1*/

.title {
    width: 90%;
    margin-left: 50px;
}

.title h1 {
    margin: 0;
    font-family: 'Raleway-ExtraBold', sans-serif;
    font-size: 1.4em;
}

.title h2 {
    margin-top: 7px;
    font-family: 'Raleway-Light', sans-serif;
    font-size: 1em;
}

/*FORMULAIRE*/

.search_form {
    display: flex;
    align-items: center;
    max-width: 450px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 45px;
}

.search_form .marker {
    width: 55px;
    height: 50px;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    cursor: pointer;
}

.search_form .marker:hover img {
    transform: scale(1.3);
    transition: 0.3s;
}

.marker img {
    width: 15px;
    margin-left: 20px;
    margin-right: 14px;
    margin-top: 15px;
    transition: 0.3s;

}

.search_form .place input {
    position: relative;
    border: solid #F2F2F2 2px;
    height: 44px;
    padding-left: 15px;
    padding-right: 45px;
    width: 150px;
    outline: 0;
}

.search_form button {
    position: absolute;
    border: none;
    color: #fff;
    background-color: #0065FC;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    height: 50px;
    width: 125px;
    margin-left: 245px;
    opacity: 1;
    cursor: pointer;
    transition: 0.3s;
    outline: 0;
}

.search_form button:hover {
    background-color: #dfdfdf;
    color: #0065FC;
}

.search_form p {
    padding: 0;
    margin-top: 15px;
    transition: 1s;
}

.search_form button:hover p {
    transform: scale(1.2);
}

.search_form button img {
    width: 25px;
    opacity: 0;
}


/* .marker:hover img {
    animation: shake 0.7s;
    animation-iteration-count: infinite;
}
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(1px, 1px) rotate(-30deg); }
    20% { transform: translate(1px, 1px) rotate(-50deg); }
    30% { transform: translate(1px, 1px) rotate(-50deg); }
    40% { transform: translate(1px, 1px) rotate(-30deg); }
    50% { transform: translate(1px, 1px) rotate(0deg); }
    60% { transform: translate(1px, 1px) rotate(30deg); }
    70% { transform: translate(1px, 1px) rotate(50deg); }
    80% { transform: translate(1px, 1px) rotate(50deg); }
    90% { transform: translate(1px, 1px) rotate(30deg); }
    100% { transform: translate(1px, 1px) rotate(0deg); }
} */




/*SECTION N°2*/

.filter {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1000px;
}

.filter .choice {
    border: solid #F2F2F2;
    display: flex;
    border-radius: 30px;
    align-items: center;
    text-decoration: none;
    height: 50px;
    padding-right: 15px;
    margin-right: 10px;
    box-shadow: inset 5px -5px 5px 1px #dfdfdf;
    transition: 0.5s;
}

.filter .choice img {
    width: auto;
    height: 17px;
    margin-top: 16px;
}

.filter .choice .img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    margin-left: -7px;
    background-color: #DEEBFF;
    transition: 0.3s;
    box-shadow: inset 1px 1px 10px 5px #DEEBFF;
    border: solid 2px #DEEBFF;
}

.filter p {
    font-size: 1em;
    text-align: center;
    color: #000;
    margin-left: 20px;
    margin-right: 15px;
}

.choice:hover .img {
    transform: scale(1.07);
    box-shadow: inset 1px 1px 10px 5px #fff;
    border: solid 2px #DEEBFF;
}

.choice:hover {
    box-shadow: inset -5px 5px 5px 1px #dfdfdf;
}

/*SECTION N°3*/

.info {
    display: flex;
    align-items: center;
    margin-left: 43px;
    margin-bottom: 25px;
}

.info img {
    width: 10px;
    height: 10px;
    border: solid #F2F2F2 2px;
    border-radius: 50%;
    padding: 4px;
    margin-right: 5px;
}

.info h4 {
    font-family: 'Raleway-light';
    font-size: 0.8em;
    margin-left: 5px;
}

/*MAIN*/

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.star {
    display: flex;
    width: 12px;
    margin-top: 28px;
    margin-left: 15px;
}

/*SECTION N°4*/

.housing {
    width: 70%;
    border-radius: 25px;
    margin-left: 40px;
    padding-bottom: 50px;
}

.housingTitle {
    margin-left: 35px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}

.cards {
    border: solid 5px #fff;
    border-radius: 25px;
    width: 28%;
    height: 188px;
    margin: 15px;
    overflow: hidden;
}

.cards a {
    text-decoration: none;
}

.housing .cards .imgFlex {
    width: 100%;
    height: 150px;
    margin-top: -50px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cards .txt {
    line-height: 0.6em;
    margin-left: 10px;
}

.txt h6 {
    font-family: 'Raleway-ExtraBold';
    margin-top: 10px;
}

.txt p {
    font-family: 'Raleway-Light';
}

.txt h6,
.txt p {
    color: #000;
}

.cards .star {
    margin-top: 17px;
    margin-left: 0;
}

.main .more .viewMore {
    margin-left: 35px;
    margin-bottom: 50px;
    margin-top: 35px;
    font-family: 'Raleway-ExtraBold';
    color: #000;
    text-decoration: none;
}

.housing .more {
    margin-top: 20px;
}


/*ASIDE*/

.pop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    margin-right: 60px;
    margin-left: 30px;
    border-radius: 25px;
    padding-bottom: 25px;
}

.pop .popTitle {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 0;
    padding-top: 30px;
}

.pop .popTitle img {
    width: 25px;
}

.element a {
    display: flex;
    width: 83%;
    height: 125px;
    margin: auto;
    text-decoration: none;
    color: #000;
}

.element .pic img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.link {
    width: 170%;
    margin-top: 10px;
    margin-left: -10px;
}

.link p,
.cards p {
    font-family: 'Raleway-Medium';
    font-size: 0.85em;
    margin-top: 11px;
}

.link .star {
    margin-left: 0;
    margin-top: 30px;
}

.activity {
    margin-right: 70px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.activity h3 {
    margin-bottom: 25px;
}

.activityFlex {
    display: flex;
    justify-content: space-between;
    height: 500px;
}

.activity a {
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgba(121, 120, 120, 0.5);
    text-decoration: none;
    transition: 0.3s;
}

.activity .bp,
.activityLeft,
.activityRight {
    width: 22%;
}

.mp {
    height: 57%;
}

.sp {
    height: 35%;
}

.activity img {
    width: 100%;
    height: 90%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.activity p {
    font-family: 'Raleway-Medium';
    color: #000;
    height: 50px;
}

.activityLeft,
.activityRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    background-color: #F2F2F2;
    padding: 30px;

}

.footerFlex {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-left: 50px;
    line-height: 2em;
}

.footer .block {
    display: flex;
    flex-direction: column;
}

.footer .block .title {
    font-family: 'Raleway-bold';
    font-size: 1.2em;
    margin-left: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
}

.footer .block .child a {
    font-family: 'Raleway-Light';
    text-decoration: none;
    font-size: 0.9em;
    color: black;
}

/*STRUCT CSS - DRY*/

.headNavLink1,
.header .headSignup {
    color: #0065FC;
    text-decoration: none;
    font-size: 1.1em;
}

.search_form .marker,
.housing,
.pop {
    background-color: #F2F2F2;
}

.cards,
.element a {
    transition: 0.3s;
    background-color: #fff;
    border-radius: 25px;
    border: solid 5px #fff;
    box-shadow: 2px 2px 10px rgba(121, 120, 120, 0.5);
}

.cards:hover,
.element a,
.activity a:hover {
    box-shadow: -2px -2px 10px rgba(121, 120, 120, 0.5);
}

/*VERSION MOBILE*/

@media screen and (max-width: 768px) {

    .header {
        width: 100%;
    }

    .headLogo {
        order: 1;
        margin-top: 0;
        margin-left: 25px;
        padding-top: 10px;
        padding-left: 0;
    }

    .headSignup {
        order: 2;
        margin-top: -15px;
    }

    .headNav {
        order: 3;
        grid-column: 1/5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        width: 100%;
        margin: auto;
        font-size: 1em;
    }

    .headNavLink1 {
        padding-top: 15px;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 17px;
        color: #0065FC;
        border-top: none;
        border-bottom: solid 4px;
        width: 50%;
    }

    .header .headNavLink2 {
        padding-top: 15px;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 15px;
        color: #000;
        border-bottom: solid 4px #F2F2F2;
        width: 50%;
        margin: 0;
    }

    /*SECTION N°1*/

    .title {
        width: 90%;
        margin: auto;
    }

    .title h2 {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    /*FORMULAIRE*/

    .search_form {
        width: 87%;
        margin: auto;
    }

    .search_form p {
        opacity: 0;
    }

    .search_form button {
        width: 50px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .search_form .searchLogo {
        margin-top: -8px;
        margin-left: 5px;
        width: 20px;
        opacity: 1;
    }

    /*SECTION N°2*/

    .filter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 25px;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .filter p {
        padding-bottom: 15px;
    }

    .filter .choice {
        margin-bottom: 15px;
    }

    .filter .choice p {
        padding-top: 15px;
    }

    /*SECTION N°3*/

    .info {
        width: 80%;
        margin: auto;
    }

    /*MAIN*/

    .main {
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }

    /*ASIDE*/

    .pop {
        width: 100%;
        margin: auto;
        height: auto;
        border-radius: 0;
        padding-top: 0;
        padding-bottom: 15px;
    }

    .pop .popTitle {
        margin: auto;
        padding-bottom: 15px;
    }

    .element a {
        margin-bottom: 13px;
    }

    /*SECTION N°4*/

    .housing {
        width: 100%;
        height: auto;
        margin: auto;
        margin-bottom: 15px;
        margin-top: 30px;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        border-radius: 0;
        background-color: #fff;
    }

    .housing .housingTitle {
        width: 90%;
        margin: auto;
        padding: 0;
    }

    .cards {
        width: 90%;
        height: 195px;
        margin: 10px;
    }

    /*SECTION N°5*/

    .activity {
        width: 100%;
        margin: auto;
        height: 100%;
    }

    .activity h3 {
        margin-bottom: 25px;
        margin-left: 30px;
    }

    .activityFlex {
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
    }

    .activity .bp {
        width: 85%;
        margin: auto;
        height: 250px;
        margin-bottom: 32px;
    }

    .activityRight {
        width: 85%;
        margin: auto;
        height: 250px;
        margin-bottom: 300px;
    }

    .activityLeft {
        width: 85%;
        margin: auto;
        height: 250px;
        margin-bottom: 310px;
    }


    .mp {
        height: 250px;
        margin-bottom: 30px
    }

    .sp {
        height: 250px;
        margin-bottom: 30px;
    }

    /*FOOTER*/

    .footer {
        padding: 0;
    }

    .footerFlex {
        flex-direction: column;
    }

    .footer .block {
        margin-bottom: 15px;
        height: 30%;
        line-height: 1.3em;
    }

}