

@font-face{
    font-family: 'Raleway-black';
    src: url(fonts/Raleway-Black.ttf) format('truetype');
}
@font-face {
    font-family: 'Raleway-bold';
    src: url(fonts/Raleway-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url(fonts/Raleway-ExtraBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Raleway-Light';
    src: url(fonts/Raleway-Light.ttf) format('truetype');
}

body{
    margin-left: 30px;
    margin-right: 30px;
}
header{
}
section{
}
footer{
}

.heading{
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.logo img{
    width: 100px;
    padding: 15px;
    margin-top: 0px;
}
.nav ul{
    display: flex;
    height: 50px;
    width: 400px;
    margin-top: 0px;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}
.transport{
    list-style: none;
    font-family: 'Raleway-Light';
}

h1{
    font-family: 'Raleway-ExtraBold';
    font-size: 1em;
}
h2{
    font-family: 'Raleway-Light';
    font-size: 0.8em;
}

/*section "Rechercher"*/

.search{/*parent>marker + place + recherche*/
    display: flex;
    align-items: center;
    max-width: 450px;
    margin-bottom: 15px;
}
.search .marker{/*background du marker*/
    width: 50px;
    height: 55px;
    background-color: #F2F2F2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.marker img{/*img maker*/
    width: 17px;
    margin-left: 18px;
    margin-top: 17px;
}
.search .place input{/*champs de saisie*/
    border: solid #F2F2F2 2px;
    height: 49px;
}
.search .butt input{/*bouton "Rechercher"*/
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 54px;
    width: 150px;
    background-color: #0065FC;
}

/*section des filtres*/

.filter{/*parent>txt + select*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 750px;
}
.filter .txt{/*txt*/
}
.select{/*child>.filter -- parent>logo+link*/
    display: flex;
    border: solid #F2F2F2;
    border-radius: 30px;
    align-items: center;
    height: 50px;
    padding-right: 15px;
}
.filter .select img{/*logo*/
    border: solid #DEEBFF;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 10px;
    padding: 10px;
    background-color: #DEEBFF;
}
.filter a{/*link*/
    text-decoration: none;
}

/*section Info*/

.information{/*parent>info_logo + info_txt*/
    display: flex;
    align-items: center;
}
.information .info_logo{/*background logo*/
    margin: 10px;
    background-color: #0065FC;
    height: 17px;
    width: 17px;
    border-radius: 15px;
    
}
.information .info_logo img{/*logo*/
    width: 20px;
    border: solid #F2F2F2 2px;
    border-radius: 20px;
}
.information .info_txt{/*txt*/
    margin-left: 10px;
}

/*section <aside>*/

.main{/*parent principal*/
    border: solid;
    display: flex;
    flex-direction: row-reverse;
}
.main .pop{/*parent > les plus pop*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid;
    border-radius: 20px;
    background-color: #F2F2F2;
    height: ;
}
.main .pop .pop_title{/*parent > pop_h2 + pop_logo*/
    display: flex;
}
.main .pop .pop_title .pop h2{/*titre > Les plus pop*/

}
.main .pop .pop_title .pop_logo{/*logo "fleche"*/
    width: 20px;
}
.main .pop .element{/*parent > pic + link*/
    display: flex;
    border: solid white 3px;
    border-radius: 20px;
}
.main .pop .element .pic img{/*photo > Les plus pop*/
    width: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px
}
.main .pop .element .link{
    font-family: ;
    font-size: 0.8em;
    background-color: white;
}


.main .housing{/*parent>article*/
    border: solid;
    border-radius: 20px;
    display: flex;
    max-width: 350px;
    flex-wrap: wrap;
}

